h1 {
  color: green;
  font-style: italic;
}

h2 {
  color: rgb(0, 34, 128);
  font-style: italic;
}

h3 {
  color: rgb(128, 0, 11);
  font-style: italic;
}

.Person {
  color: grey;
  padding-top: 5px;
  font-size: 15px;
  font-style: italic;
}

.changed {
  color: green;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}